<form name="vaForm">
  <div class="control-group" ng-class="{error: vaForm.make.$invalid}">
    <label>Make</label>
    <input type="text" name="make" ng-model="aircraft.make" required>
    <span ng-show="vaForm.name.$error.required" class="help-inline">
        Required</span>
  </div>
 
  <div class="control-group" ng-class="{error: vaForm.model.$invalid}">
    <label>Model</label>
    <input type="text" name="model" ng-model="aircraft.model" required>
    <span ng-show="vaForm.site.$error.required" class="help-inline">
        Required</span>
  </div>
 
  <label>N-Number</label>
  <input type="text" name="nnumber" ng-model="aircraft.nnumber">
 
  <br>
  <a href="#/" class="btn">Cancel</a>
  <button ng-click="save()" ng-disabled="isClean() || vaForm.$invalid"
          class="btn btn-primary">Save</button>
    <button ng-click="destroy()"
          ng-show="aircraft._id" class="btn btn-danger">Delete</button>
</form>