<table>
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>N-Number</th>
            <th><a href="#/new"><i class="glyphicon glyphicon-plus-sign"></i></a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="a in aircraft | orderBy:'make'">
            <td>{{a.make}}</td>
            <td>{{a.model}}</td>
            <td>{{a.nnumber}}</td>
            <td>
                <a href="#/edit/{{a._id}}"><i class="glyphicon glyphicon-pencil"></i></a>
            </td>
        </tr>
    </tbody>
</table>