<div class="row">
    <div class="col-md-8">
        <heading>Venture Aviation</heading>
    </div>
    <div class="col-md-4">
        <heading>About this site</heading>
        <p>I use this site as a sandbox to keep current with emerging technologies
            and theories in web architecture and software development. As such, it’s
            usually pretty plain-vanilla, but under the covers, I’m practicing everything
            from developing using a cloud IDE (such as
            <a href="https://c9.io" target="_blank">Cloud9</a> or
            <a href="https://koding.com" target="_blank">Koding</a>) to using
            <a href="https://github.com/" target="_blank">Github</a> and deploying to
            <a href="https://heroku.com/" target="_blank">Heroku</a>.</p>
        <p>The server software also changes constantly. Sometime this site is developed using 
            <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>, sometimes
            <a href="http://nodejs.org/" target="_blank">Nodejs</a>. 
            Typically for a persistance engine, I stick with
            <a href="http://www.mongodb.org/" target="_blank">MongoDB</a>.</p>
        <p>The JavaScript framework also changes constantly, from
            <a href="http://backbonejs.org/" target="_blank">Backbone</a> to
            <a href="http://knockoutjs.com/" target="_blank">Knockout</a>, 
            <a href="http://www.angularjs.org/" target="_blank">Angular</a> to 
            <a href="http://www.kendoui.com/" target="_blank">KendoUI</a>, it’s always in flux and a majority of my changes are to this area.</p>
        <p>All that said, if you landed here looking for someone named Brandon Lind
            and he isn’t a software architect / developer, you’re probably in the wrong
            place ;).</p>
    </div>
</div>