<div class="layout">
  <header class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>
          <a href="/">
            <img src="https://www.gravatar.com/avatar/6fb8d2f4192627b7985016d486bfec04?s=80&d=retro" alt="Brandon Lind" class="profile-picture" /> 
            Brandon Lind
          </a>
        </h1>
        <p>... you’re probably in the wrong place ;)</p>
      </div>
    </div>
  </header>
  
  <div class="container content" data-ui-view=""></div>
  
  <footer class="container">
    <div class="row">
      <div class="col-xs-12">
        <small>&copy; 2010 Brandon Lind</small> &nbsp;
        <a href="https://www.linkedin.com/pub/brandon-lind/10/22b/b97" target="_blank" style="text-decoration:none;"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> &nbsp;
        <a href="https://github.com/ripvanbl" target="_blank" style="text-decoration:none;"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>
  </footer>
</div>