<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#ta"><span class="glyphicon glyphicon-plane"></span> Terminal Aviation</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#ta/bids">Bids <span class="badge">0</span></a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aircraft Owners <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#ta/owner/aircraft">Manage Aircraft <span class="badge pull-right">0</span></a></li>
          <li><a href="#ta/owner/charter/bids">Charter Bids <span class="badge pull-right">0</span></a></li>
          <li><a href="#ta/owner/request/repair">Request a Repair Bid <span class="badge pull-right">0</span></a></li>
          <li><a href="#ta/owner/chartermgmt">Find a Management Company</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Management Companies <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#ta/mgmt/charter/bids">Charter Management Bids <span class="badge">0</span></a></li>
          <li><a href="#ta/mgmt/maintenance">Maintenance Bids <span class="badge pull-right">0</span></a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<h2>Welcome to Terminal Aviation</h2>
<p>If you're looking to charter a flight, use the form below to submit a request for bids.</p>
<form>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Request flight bids</h3>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope pull-left"></span>
                    <span class="input-group-addon-label">Your email</span>
                </span>
                <input type="email" class="form-control" placeholder="Your email...">
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-map-marker pull-left"></span>
                    <span class="input-group-addon-label">Leaving from</span>
                </span>
                <input class="form-control" placeholder="Select an airport...">
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar pull-left"></span>
                    <span class="input-group-addon-label">Wheels up on</span>
                </span>
                <input class="form-control" placeholder="Select a depature date...">
            </div>
            <div class="input-group-actions">
                <button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-bullhorn"></span> Start the Bidding!</button>
            </div>
        </div>
        <div class="panel-footer">
            <small>You'll receive an email once the bids start rolling in.</small>
        </div>
    </div>
</form>
